.control-section-film-maker-lite h3.accordion-section-title {
    background: #1c1c1c !important;
    color: #fff !important;
}
a.button.button-secondary.alignright{
    background: #f8ba14;
    color: #ffffff !important;
}